:root{

    /* Couleurs principales */
    --primary:#4F46E5;
    --secondary:#14B8A6;

    --dark:#0B1120;
    --dark-light:#111827;

    --white:#FFFFFF;

    --gray:#94A3B8;

    --gradient-primary:
    linear-gradient(
        135deg,
        #4F46E5,
        #14B8A6
    );

    /* Ombres */

    --shadow-soft:
    0 10px 30px rgba(0,0,0,0.08);

    --shadow-glow:
    0 0 40px rgba(37,99,235,0.35);

    /* Radius */

    --radius-lg:20px;
    --radius-xl:30px;

}