:root{

    /* Couleurs principales */

    --primary:#2563EB;
    --secondary:#06B6D4;
    --dark:#0F172A;
    --dark-light:#1E293B;
    --white:#FFFFFF;
    --gray:#94A3B8;

    /* Dégradés */

    --gradient-primary:linear-gradient(
        135deg,
        #2563EB,
        #06B6D4
    );

    /* Ombres */

    --shadow-soft:
    0 10px 30px rgba(0,0,0,0.08);

    --shadow-glow:
    0 0 40px rgba(37,99,235,0.35);

    /* Radius */

    --radius-lg:20px;
    --radius-xl:30px;

}